.slide-right-enter-active {
  animation: slide-right-in 0.3s;
}

.slide-right-leave-active {
  animation: slide-right-in 0.3s reverse;
}

@keyframes slide-right-in {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
