.subscribed-nodes-list {
  overflow-x: auto;
  height: 100%;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--slr__border-clr);
    padding: 16px 0;

    &:last-child {
      border-bottom: none;
    }
  }
}
