.slr-input {
  display: flex;
  align-items: center;
  transition: border-color .2s;
  outline: none;
  border: 1px solid var(--slr__border-clr);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 11px 12px;
  background: var(--slr__input-bg-clr);
  -webkit-app-region: no-drag;

  &--focused {
    border-color: var(--slr__input-focused-bd-clr);
  }

  &__control {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 14px;

    &::placeholder {
      color: rgb(216, 216, 216)
    }
  }
}
