.check-mnemonic {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    padding: 0 16px 16px;
    box-sizing: border-box;
    width: 100%;
  
    &__info {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-evenly;
      height: 100%;
    }
  
    &__title {
      margin-bottom: 13px;
      color: var(--slr__title-txt-clr);
      @include font-template(28px, 34px, 500);
    }
  
    &__text {
      @include font-template(16px, 22px);
    }
  
    &__phrase {
      display: grid;
      grid-template-columns: 1fr 1fr 0fr;
      grid-template-rows: repeat(24);
      margin-left: 25px;
      padding: 16px;
      text-align: left;
      @include font-template(14px, 18px);
    }
  
    &__timer {
      color: var(--slr__setup-timer-clr);
      @include font-template(28px, 34px, 300);
    }
  }